/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilização do body com degradê de fundo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #1D1D1D, #000000);
    background-attachment: fixed;
}

/* Container principal centralizado */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Logo */
.logo {
    width: 500px;
    margin-bottom: 40px;
}

/* Botão Agendar com borda estilizada */
.agendar-button {
    background-color: #E5B817;
    color: black;
    border: 2px solid #E5B817;
    padding: 12px 24px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.agendar-button:hover {
    background-color: #E5B817;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

/* Responsividade */
@media (max-width: 600px) {
    body{
        height: 70%;
    }
    .logo {
        width: 100%;
    }
    .agendar-button {
        font-size: 25px;
        padding: 10px 20px;
    }
}