<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/tela_servicos.css">
  <title>Serviços</title>
</head>
<body>
  <div class="title">
    <h1>Selecione o serviço</h1>
  </div>
  <div class="container">
    <div class="serviços">
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="degradê">
        <div class="info-nome">
          <h3>Degradê</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Sobrancelha</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Barba</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Freestyle</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Luzes</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Platinado</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Progressiva</h3>
        </div>
        <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
      <button class="serviço-card">
        <img src="/static/img/degrade.jpg" alt="">
        <div class="info-nome">
          <h3>Selagem</h3>
          </div>
          <div class="info-detalhes">
          <p class="valor">R$30</p>
          <p class="tempo">1hr</p>
        </div>
      </button>
    </div>
  </div>
</body>
</html>