<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Barbeiro</title>
    <link rel="stylesheet" href="/static/css/tela_barbeiro.css">
    <script src="../static/js/tela_barbeiro.js" defer></script>
</head>
<body>
    <div class="title">
        <h1>Selecionar Barbeiro</h1>
    </div>
    <div class="barbers-container">
       <button class="barber-card" type="button">
           <img src="/static/img/barber1.jpg" alt="foto barbeiro" class="barber-img">
           <span class="barber-name">Barbeiro 1</span>
       </button>
    
        <button class="barber-card">
            <img src="/static/img/barber2.jpg" alt="foto barbeiro" class="barber-img">
            <span class="barber-name">Barbeiro 2</span>
        </button>
    </div>
</body>
</html>
