<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/tela_servicos.css">
  <title>Serviços</title>
</head>
<body>
  <div class="container">
    <h1>Selecionar Serviços<h1>
    <div class="serviços">
      <button class="serviço">Degradê</button>
      <button class="serviço">Sobrancelha</button>
      <button class="serviço">Barba</button>
      <button class="serviço">Freestyle</button>
      <button class="serviço">Luzes</button>
      <button class="serviço">Platinado</button>
      <button class="serviço">Progressiva</button>
      <button class="serviço">Selagem</button>
    </div>
  </div>
</body>
</html>